<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ebbc1aa60f.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>


    {{!-- My Links --}}
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js"></script>

</head>

<body>
    <header>
    <div class="logo">Ajrak Block Print</div>
    <ul class="navigation">
        <li><a href="/">HOME</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">SHOP AJHRAKH</a>
            <div class="dropdown-content">
                <a href="#">Fabric</a>
                <a href="#">Dupatta</a>
                <a href="#">Saree</a>
                <a href="#">2 Piece Suit</a>
                <a href="#">3 Piece Suit</a>
                <a href="#">Dastarkhan</a>

            </div>
        </li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/testimonials">TESTIMONIALS</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/login">LOGIN</a></li>

    </ul>
    <div class="hamburger">
        <i class="fa-solid fa-bars on" id="on"></i>
    </div>
    <div class="alert">
        <ul class="navigation1">
            <i class='bx bxs-x-circle close'></i>
            <li><a href="#banner" class="out">HOME</a></li>
            <li class="dropdown">
                <a href="#" class="out dropbtn">SHOP AJHRAKH</a>
                <div class="dropdown-content">
                    <a href="#">Fabric</a>
                    <a href="#">Dupatta</a>
                    <a href="#">Saree</a>
                    <a href="#">2 Piece Suit</a>
                    <a href="#">3 Piece Suit</a>
                    <a href="#">Dastarkhan</a>
                </div>
            </li>
            <li><a href="#about" class="out">ABOUT</a></li>
            <li><a href="#review" class="out">TESTIMONIALS</a></li>
            <li><a href="#contact" class="out">CONTACT</a></li>
            <li><a href="/">LOGIN</a></li>
        </ul>
    </div>
</header>


</body>

</html>